<section class=abilities>
    <section class="sheet-physics-block">
        <ul class="sheet-physics-list">
            <div class="characteristic"> PHYSICS </div>
            <div class="physics-abilities">
            <li>
                <input class="stat" name="system.meleeWeaponHandling" value="{{system.meleeWeaponHandling}}" data-dtype="Number">
                <a class='abilityRoll' data-label="meleeWeaponHandling" data-name="Melee Weapon Handling">{{localize "dressena.ability.meleeWeaponHandling"}}</a>
                
            </li>
            <li>
                <input class="stat" name="system.health.max" value="{{system.health.max}}" data-dtype="Number">
                <a class="abilityRoll" data-label="health" data-name="Health">{{localize "dressena.ability.health"}}</a>
                
            </li>
            <li>
                <input class="stat" name="system.endurance.max" value="{{system.endurance.max}}" data-dtype="Number">
                <a class="abilityRoll" data-label="endurance" data-name="Endurance">{{localize "dressena.ability.endurance"}}</a>              
            </li>
            </div>
            </ul>
    </section>
    <section class="sheet-finesse-block">      
            <ul class="sheet-finesse-list">
            <div class="characteristic"> FINESSE </div> 
            <div class="finesse-abilities">              
                <li>
                    <input class="stat" name="system.rangedWeaponHandling" value="{{system.rangedWeaponHandling}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="rangedWeaponHandling" data-name="Ranged Weapon Handling">{{localize "dressena.ability.rangedWeaponHandling"}}</a>
                </li>
                <li>
                    <input class="stat" name="system.agility" value="{{system.agility}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="agility" data-name="Agility">{{localize "dressena.ability.agility"}}</a>                
                </li>
                <li>
                    <input class="stat" name="system.fineMotor" value="{{system.fineMotor}}" data-dtype="Number">                    
                    <a class="abilityRoll" data-label="fineMotor" data-name="Fine Motor">{{localize "dressena.ability.fineMotor"}}</a>                   
                </li>
                <li>
                    <input class="stat" name="system.stealth" value="{{system.stealth}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="stealth" data-name="Stealth">{{localize "dressena.ability.stealth"}}</a>                    
                </li>
                </div>
                </ul>
    </section>
    <section class="sheet-intelect-block">      
            <ul class="sheet-intelect-list">
                <div class="characteristic"> INTELECT </div>
                <div class="intelect-abilities">
                <li>
                    <input class="stat" name="system.exteriorWorld" value="{{system.exteriorWorld}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="exteriorWorld" data-name="Exterior World">{{localize "dressena.ability.exteriorWorld"}}</a>                    
                </li>
                <li>
                    <input class="stat" name="system.logic" value="{{system.logic}}" data-dtype="Number">  
                    <a class="abilityRoll" data-label="logic" data-name="Logic">{{localize "dressena.ability.logic"}}</a>                  
                </li>
                <li>
                    <input class="stat" name="system.suggestion" value="{{system.suggestion}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="suggestion" data-name="Suggestion">{{localize "dressena.ability.suggestion"}}</a>
                </li>
                <li>
                    <input class="stat" name="system.combatStrategy" value="{{system.combatStrategy}}" data-dtype="Number">                    
                    <a class="abilityRoll" data-label="combatStrategy" data-name="Combat Strategy">{{localize "dressena.ability.combatStrategy"}}</a>                    
                </li>
                <li>
                    <input class="stat" name="system.metaphysics" value="{{system.metaphysics}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="metaphysics" data-name="Metaphysics">{{localize "dressena.ability.metaphysics"}}</a>                   
                </li>
                <li>
                    <input class="stat" name="system.survival" value="{{system.survival}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="survival" data-name="Survival">{{localize "dressena.ability.survival"}}</a>                    
                </li>
                <li>
                    <input class="stat" name="system.encyclopedia" value="{{system.encyclopedia}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="encyclopedia" data-name="Encyclopedia">{{localize "dressena.ability.encyclopedia"}}</a>                    
                </li>
                </div>
                </ul>
    </section>
    <section class="sheet-psyque-block">      
            <ul class="sheet-psyque-list">
                <div class="characteristic"> PSYQUE </div>
                <div class="psyque-abilities">
                <li>
                    <input class="stat" name="system.ethics" value="{{system.ethics}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="ethics" data-name="Ethics">{{localize "dressena.ability.ethics"}}</a>                                     
                </li>
                <li>
                    <input class="stat" name="system.painThreshold" value="{{system.painThreshold}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="painThreshold" data-name="Pain Threshold">{{localize "dressena.ability.painThreshold"}}</a>
                </li>
                <li>
                    <input class="stat" name="system.valor" value="{{system.valor}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="valor" data-name="Valor">{{localize "dressena.ability.valor"}}</a>                    
                </li>
                <li>
                    <input class="stat" name="system.rhetoric" value="{{system.rhetoric}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="rhetoric" data-name="Rhetoric">{{localize "dressena.ability.rhetoric"}}</a>                    
                </li>
                <li>
                    <input class="stat" name="system.volition" value="{{system.volition}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="volition" data-name="Volition">{{localize "dressena.ability.volition"}}</a>                    
                </li>
                <li>
                    <input class="stat" name="system.authority" value="{{system.authority}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="authority" data-name="Authority">{{localize "dressena.ability.authority"}}</a>                    
                </li>
                <li>
                    <input class="stat" name="system.occultism" value="{{system.occultism}}" data-dtype="Number">
                    <a class="abilityRoll" data-label="occultism" data-name="Occultism">{{localize "dressena.ability.occultism"}}</a>                    
                </li>
                </div>
                </ul>
    </section>

</section>
