                <section class="sidebar">
                    <div class="actor-img"></div>
                    <img class="actor-img2" src="{{actor.img}}" data-edit="img" title:"{{actor.name}}" width="200" height="250"/> 
                    <div class="sidebar-stats">   
                                <input class="ego-stat-value" name="system.ego" value="{{system.ego}}" data-dtype="Number">
                                <input class="defense-stat-value" name="system.defense" value="{{system.defense}}" data-dtype="Number">
                                <input class="endurance-stat-value" name="system.endurance.value" value="{{system.endurance.value}}" data-dtype="Number">
                                <input class="health-stat-value" name="system.health.value" value="{{system.health.value}}" data-dtype="Number">

                    </section>