<section class=abilities>
    </section><section class="physics-block">
        <ul class="sheet-physics-list">
            <li>
                {{localize "dressena.ability.meleeWeaponHandling"}}
                <input name="system.meleeWeaponHandling" value="{{system.meleeWeaponHandling}}" data-dtype="Number">
            </li>
            <li>
                {{localize "dressena.ability.health"}}
                <input name="system.health.value" value="{{system.health.value}}" data-dtype="Number">
            </li>
            <li>
                {{localize "dressena.ability.endurance"}}
                <input name="system.endurance" value="{{system.endurance}}" data-dtype="Number">
            </li>
            </ul>
    </section>
    <section class="sheet-finesse-block">      
            <ul class="sheet-finesse-list">
                <li>
                    {{localize "dressena.ability.rangedWeaponHandling"}}
                    <input name="system.rangedWeaponHandling" value="{{system.rangedWeaponHandling}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.agility"}}
                    <input name="system.agility" value="{{system.agility}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.fineMotor"}}
                    <input name="system.fineMotor" value="{{system.fineMotor}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.stealth"}}
                    <input name="system.stealth" value="{{system.stealth}}" data-dtype="Number">
                </li>
                </ul>
    </section>
    <section class="sheet-intelect-block">      
            <ul class="sheet-intelect-list">
                <li>
                    {{localize "dressena.ability.exteriorWorld"}}
                    <input name="system.exteriorWorld" value="{{system.exteriorWorld}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.logic"}}
                    <input name="system.logic" value="{{system.logic}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.suggestion"}}
                    <input name="system.suggestion" value="{{system.suggestion}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.combatStrategy"}}
                    <input name="system.combatStrategy" value="{{system.combatStrategy}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.metaphysics"}}
                    <input name="system.metaphysics" value="{{system.metaphysics}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.survival"}}
                    <input name="system.survival" value="{{system.survival}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.encyclopedia"}}
                    <input name="system.encyclopedia" value="{{system.encyclopedia}}" data-dtype="Number">
                </li>
                </ul>
    </section>
    <section class="sheet-psyque-block">      
            <ul class="sheet-psyque-list">
                <li>
                    {{localize "dressena.ability.ethics"}}
                    <input name="system.ethics" value="{{system.ethics}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.painThreshold"}}
                    <input name="system.painThreshold" value="{{system.painThreshold}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.valor"}}
                    <input name="system.valor" value="{{system.valor}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.rhetoric"}}
                    <input name="system.rhetoric" value="{{system.rhetoric}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.volition"}}
                    <input name="system.volition" value="{{system.volition}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.authority"}}
                    <input name="system.authority" value="{{system.authority}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.occultism"}}
                    <input name="system.occultism" value="{{system.occultism}}" data-dtype="Number">
                </li>
                </ul>
    </section>
    <section class="sheet-main-block">      
            <ul class="sheet-main-list">
                <li>
                    {{localize "dressena.ability.ego"}}
                    <input name="system.ego" value="{{system.ego}}" data-dtype="Number">
                </li>
                <li>
                    {{localize "dressena.ability.defense"}}
                    <input name="system.defense" value="{{system.defense}}" data-dtype="Number">
                </li>
                </ul>
    </section>
</section>
