<form class="{{cssClass}}" autocomplete="off">

<!--    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item" data-tab="inventory">Inventory</a>
    </nav> -->



    <div class="sheet-header">
        <div class="khebelon-logo">
            <img src='/systems/dressena/img/character-sheet-header.webp' width='725' height='200'/>
        </div>
        <div class="character-name">
        <input class="actor-name" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
        <div class="class">
            {{actor.type}}
        </div>      
        </div>        
        <div class="character-level">
        <input class="level-value" name="system.level" value="{{system.level}}" data-dtype="Number">
        </div>
        <div class="character-rolepoints">
        <input class="role-points" name="system.rolepoints" value="{{system.rolepoints}}" data-dtype="Number">
        </div>

    </div>



    <nav class="sheet-tabs-character" data-group="primary">
      <a class="item" data-tab="abilities">Abilities</a>
      <a class="item" data-tab="combat">Combat</a>
      <a class="item" data-tab="traits">Traits</a>

    </nav>


          <div class="sidebar">
                    <div class="actor-img"></div>
                    <img class="actor-img2" src="{{actor.img}}" data-edit="img" title:"{{actor.name}}" width="218" height="240"/> 
                    <div class="sidebar-stats">
                                <input class="ego-stat-value" name="system.ego" value="{{system.ego}}" data-dtype="Number">
                                <input class="defense-stat-value" name="system.defense" value="{{system.defense}}" data-dtype="Number">
                                <input class="endurance-stat-value" name="system.endurance.value" value="{{system.endurance.value}}" data-dtype="Number">
                                <input class="health-stat-value" name="system.health.value" value="{{system.health.value}}" data-dtype="Number">
                                <div class="health-name">HEALTH</div>
                                <div class="ego-name">EGO</div>
                                <div class="endurance-name">ENDURANCE</div>
                                <div class="defense-name">DEFENSE</div> 
                    </div>
                    <img class="religion-frame" src='/systems/dressena/img/religion-frame.png'>
                </div>  


    <section class="sheet-content">
        <div class="tab" data-group="primary" data-tab="abilities">

                <div class="sheet-body">
                    <div class="abilities">
                        {{> "systems/dressena/templates/partials/character-abilities-block.hbs"}}
                    


                    </div>
                    <div class="conditions">
                    <div class="conditions-title">CONDITIONS</div>
                    <div class="conditions-images">
                    {{#each system.conditions}}
                        {{#if (or (eq this.value true) (gt this.value 0))}}
                            <a class='condition' data-tooltip='{{this.name}}' data-tooltip-direction="LEFT"><img src='{{this.ico}}' width="40" height="40"></a>
                        {{else}}
                        {{/if}}
                    {{/each}}
                    </div>
                </div>  
                </div> 
         
        </div>
        <div class="tab" data-group="primary" data-tab="combat">                      

        <section class="combat-actions">COMBAT ACTIONS
              <div class="combatactions-list">
                    {{#each combatActions as |item id|}}
                        <li class='item flexrow' data-item-id='{{item._id}}'>
                            <div class='item-name'>
                                <div class='item-image'>
                                    <a class='combataction-roll' data-roll-type='item' data-tooltip='{{item.system.description}}' data-tooltip-direction="LEFT">{{item.name}}</a>
                                </div>
                                </div>
                                <div class='armor-bonus'>Endurance Cost: {{item.system.enduranceCost}}
                                    </div>
                        </li>    
                    {{/each}}
                </div>
            </section>       
            <section class="equipment">EQUIPMENT
               <div class="armor-list">
                    {{#each armors as |item id|}}

                        <li class='item flexrow' data-item-id='{{item._id}}'>
                            <div class='item-name'>
                                <div class='item-image'>
                                    <a class='rollable' data-roll-type='item'><img src='{{item.img}}' title='{{item.name}}' width='24' height='24'/>
                                        <span data-tooltip='{{item.system.description}}' data-tooltip-direction="LEFT">
                                            {{item.name}}
                                        </span>    
                                    </a> 
                                </div> 
                            </div>  

                            <div class='item-formula item-prop'>Armor Bonus: {{item.system.armorBonus}}
                                    </div> 
                        </li>
                    {{/each}}
                </div>
                <div class="weapon-list">
                    {{#each weapons as |item id|}}

                        <li class='item flexrow' data-item-id='{{item._id}}'>
                            <div class='item-name'>
                                <div class='item-image'>
                                    <a class='weapon-roll' title="Damage Roll" data-roll-type='item'>
                                            <img src='{{item.img}}' title='{{item.name}}' width='24' height='24'/> 
                                            <span data-tooltip='{{item.system.description}}' data-tooltip-direction="LEFT">
                                                {{item.name}}
                                            </span>
                                    </a>
                                </div>
                            </div>
                                <div class='item-formula item-prop'>{{item.system.formula}}
                                </div>
                                <div class='armor-bonus'>Weapon Damage: {{item.system.damage}}
                                    </div>
                        </li>
                    {{/each}}  
                </div>
                <div class="item-list">
                    {{#each items as |item id|}}

                        <li class='item flexrow' data-item-id='{{item._id}}'>
                            <div class='item-name'>
                                <div class='item-image'>
                                    <a class='item-roll' title="Item Roll" data-roll-type='item'>
                                            <img src='{{item.img}}' title='{{item.name}}' width='24' height='24'/> 
                                            <span data-tooltip='{{item.system.description}}' data-tooltip-direction="LEFT">{{item.name}}</span>
                                    </a>
                                </div>
                            </div>
                                <div class='item-formula item-prop'>{{item.system.formula}}
                                </div>
                                <div class='armor-bonus'>Quantity: {{item.system.quantity}}
                                    </div>
                        </li>
                    {{/each}}  
                </div>    
            </section>    
            <section class="spells">SPELLS

                <div class="spell-list">
                    {{#each spells as |item id|}}

                        <li class='item flexrow' data-item-id='{{item._id}}'>
                            <div class='item-name'>
                                <div class='item-image'>
                                    <a class='trait-roll' title="Item Roll" data-roll-type='item'>
                                            <img src='{{item.img}}' title='{{item.name}}' width='24' height='24'/> 
                                            <span data-tooltip='{{item.system.description}}' data-tooltip-direction="LEFT">
                                            {{item.name}}
                                            </span>
                                    </a>
                                </div>
                            </div>
                                <div class='item-formula item-prop'>{{item.system.formula}}
                                </div>
                        </li>
                    {{/each}}  
                </div>    
            </section>
        </div>
        <div class="tab" data-group="primary" data-tab="traits">

                <div class="sheet-body">

            <section class="traits">TRAITS
                <div class="trait-list">

                    {{#each traits as |item id|}}

                        <li class='item flexrow' data-item-id='{{item._id}}'>
                            <div class='item-name'>
                                <div class='item-image'>
                                    <a class='trait-roll' title="Item Roll" data-roll-type='item'>
                                            <img src='{{item.img}}' title='{{item.name}}' width='24' height='24'/> 
                                            {{item.name}}
                                    </a>
                                </div>
                            </div>
                                <div class='item-formula item-prop'>{{item.system.formula}}
                                </div>
                        </li>
                    {{/each}}  
                 </div>
            </section>

                    


                    </div>
                </div>             
        </div>




        </section>
 




</form>







