<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header character-header">
        <div class="actor-img">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <h1>
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>
        </div>
    </header>

    <div class="sheet-body">
        <div class="character-name">
        <h2>Character Name</h2>
        <input class="actor-name" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
        </div>
        <div class="panelBorder sheet-card">
        <h2>Character Concept</h2>
        <textarea name="system.concept" rows="1">{{system.concept}}</textarea>
        </div>
    </div>

    <div class="sidebar">
        <h1 class="class">
            <div data-edit="system.type" contenteditable>
                {{system.type}}
            </div>
        </h1>
        <div class="actor-img">
        <img src="{{actor.img}}" data-edit="img" title:"{{actor.name}}"/>
        </div>
        <div class="abilities">
            {{> "systems/dressena/templates/partials/character-abilities-block.hbs"}}
        </div>
        <div class="weapon-list">
            {{#each weapons as |weapon id|}}
            {{> "systems/dressena/templates/partials/weapon-card.hbs" weapon}}
            {{/each}}
        </div>
    </div>

</form>



