<form class="{{cssClass}}" autocomplete="off">

    <div class="sheet-header">
        <div class="character-name">
        <h2>Character Name</h2>
        <input class="actor-name" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
        </div>
        <div class="panelBorder sheet-card">
        <h2>Character Concept</h2>
        <textarea name="system.concept" rows="1">{{system.concept}}</textarea>
        </div>
    </div>

<div class="flex-container">
    <div class="sidebar">
            <div class="class">
            Class: {{actor.type}}
            </div>
        <div class="actor-img">
        <img src="{{actor.img}}" data-edit="img" title:"{{actor.name}}"/>
        </div>
        <div class="weapon-list">
            {{#each weapons as |weapon id|}}
            {{> "systems/dressena/templates/partials/weapon-card.hbs" weapon}}
            {{/each}}
        </div>
    </div>


    <div class="sheet-body">
        <div class="abilities">
            {{> "systems/dressena/templates/partials/character-abilities-block.hbs"}}
        </div>
    </div>
</div>
</form>



